@import 'mixins.scss';
@import 'responsive.scss';

@font-face {
    font-family: Chi-TownNF;
    src: url("../fonts/Chi-TownNF.otf") format("opentype"),
        url("../fonts/Chi-TownNF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    height: 100%;
}

body {
    background-color: $darkOrange;
    color: $black;
    font-family: Monaco;
    font-size: $baseFontSize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    text-align: center;
}

.container {
    text-align: left;
    width: 800px;
    min-width: 300px;
    padding: 0;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Chi-TownNF";
    text-transform: uppercase;
    font-size: 67px;
    transition: font-size 0.5s ease;
    font-weight: normal;
    letter-spacing: 2px;

    &:after, &:before {
        content: '';
        position: absolute;
    }

    &:before {
        transition: width 0.5s ease;
        background: $black;
        width: 414px;
        height: 9px;
        bottom: 25px;
        left: 33px;
        transform: skew(39deg);
    }

    &:after {
        background: url(../images/logo.png) no-repeat right bottom;
        background-size: 100%;
        bottom: 2px;
        right: 2px;
        width: 231px;
        height: 137px;
    }
}

.box {
    box-sizing: border-box;
    padding: 22px;
    margin: 0;
    background: $white;
    border: 11px solid $white;
    box-shadow: inset 0px 0px 0px 4px $black;
    position: relative;
}

.content {
    flex-grow: 1;
    display: flex;
}
