@import 'mixins.scss';

@media all and (max-width: $firstViewPort) {
  .content {
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
  .header {
    font-size: 50px;

    &:after {
      background-size: 90%;
    }

    &:before {
      width: 312px;
    }
  }
}

@media all and (max-width: $secondViewPort) {
  .header {
    font-size: 24px;

    &:after {
      background-size: 60%;
    }

    &:before {
      width: 164px;
      height: 4px;
      left: 27px;
      bottom: 23px;
    }
  }
}

@media all and (max-width: $thirdViewPort) {
  .header {
    font-size: 22px;

    &:after {
      background-size: 50%;
    }

    &:before {
      width: 152px;
    }
  }
}