@import '../../styles/mixins.scss';

.details-container,
.options-container {
  flex-basis: 50%;
  margin-top: $containersMargin;
}

.options-container {
  margin-right: $containersMargin;
  padding: 30px 57px;

  label {
    display: block;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  select {
    width: 100%;
    height: 33px;
    border: 1px solid $black;
    border-radius: 0;
    font-size: $baseFontSize;
    -webkit-appearance: none;
    padding: 3px 6px;

    &[disabled="disabled"] {
      cursor: not-allowed;
      background-color: $gray;
    }
  }

  .select-wrapper {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 11px solid $black;
      border-bottom: 11px solid transparent;
      border-right: 5px solid $black;
      border-left: 5px solid transparent;
      right: 5px;
      top: 5px;
    }
  }
}

.details-container {

  padding-top: 30px;

  .brand-picture {
    width: 100px;
    float: right;
    box-shadow: 0px 0px 4px $black;
    border-radius: 2px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li, img {
    transition: opacity 0.5s ease;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }

  .color-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid $black;
    position: relative;
    top: 4px;
  }
}

@media all and (max-width: $firstViewPort) {
  .options-container {
    margin-right: 0;
  }
}

