<div class="box options-container">
    <label for="vehicle-list">
        Vehicle
        <span ng-show="!$ctrl.vehicleTypes.length">- loading...</span>
    </label>
    <div class="select-wrapper">
        <select
                id="vehicle-list"
                ng-disabled="!$ctrl.vehicleTypes.length"
                ng-options="type for type in $ctrl.vehicleTypes track by type"
                ng-change="$ctrl.onTypeSelect(selectedType)"
                ng-model="selectedType">
        </select>
    </div>

    <label for="brands-list">Brand</label>
    <div class="select-wrapper">
        <select
                id="brands-list"
                ng-disabled="!selectedType"
                ng-options="item as item.brand for item in $ctrl.filteredItems track by item.id"
                ng-model="selectedVehicle">
        </select>
    </div>

    <label for="colors-list">Color</label>
    <div class="select-wrapper">
        <select
                id="colors-list"
                ng-options="color for color in selectedVehicle.colors track by color"
                ng-disabled="!selectedVehicle"
                ng-model="selectedColor">
        </select>
    </div>
</div>
<div class="box details-container">
    <img
            ng-class="{'hidden': !selectedVehicle}"
            class="brand-picture"
            ng-src="{{selectedVehicle.image}}"
            alt="{{selectedVehicle.brand}}" />
    <ul>
        <li ng-class="{'hidden': !selectedType}">
            Vehicle: {{selectedType}}
        </li>
        <li ng-class="{'hidden': !selectedVehicle}">
            Brand: {{selectedVehicle.brand}}
        </li>
        <li ng-class="{'hidden': !selectedColor}">
            Color:
            <span class="color-indicator" ng-style="{background: selectedColor}"></span>
            {{selectedColor}}
        </li>
    </ul>
</div>